<footer class="footer py-4">
    <div class="container container-bg d-flex flex-row">
        <span class="text-muted me-auto font-small">&copy; 2022 AniShelter </span>
        <div class="d-inline text-muted">
            <a href="#" class="text-dark active"><i class="fa-brands fa-twitter"></i></a>&nbsp;
            <a href="#" class="text-dark active"><i class="fa-brands fa-instagram"></i></a>&nbsp;
            <a href="#" class="text-dark active"><i class="fa-brands fa-facebook-f"></i></a>
        </div>
    </div>
</footer>